yanzheng {
    display: flex;
    justify-content:center;
    
  .main{
      width: 90%;
      padding: 0 20px;
      display: flex;
      input{
          flex: 1;
          margin-right: 10px;
         height: 40px;
      }
      img{
          flex:0;
          width: 110px;height:45px;
      }
      .comInput {
          background-color: transparent;
      }
  }
}
