<!--
  Generated template for the RegisterPwPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>填写验证码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <!-- <div class="faYanMain">
        <form class="pass-form form360" [formGroup]="miForm"   name="pass_form" novalidate >
          <label for="passMi">
            <input (keyup)="filtNum($event,'yanKey')" class="pass-input Jpass" formControlName='passMi' [(ngModel)]='page.yanKey' autofocus  maxlength="5" />
            <div class="pass-border-box">
              <span class="pass-border"></span>
              <span class="pass-border"></span>
              <span class="pass-border"></span>
              <span class="pass-border"></span>
              <span class="pass-border"></span>
              <div class="faguang Jfaguang"></div>
            </div>
          </label>
         
            </form>
            <div>
                <button ion-button class="yanHuo yanBt " *ngIf="!page.isSent" (throttleClick)="sendMsg()">获取验证码</button>
                <button ion-button disabled class="yanChong yanBt "  *ngIf="page.isSent">{{page.lessSec}}秒后可重发</button>
                </div>
        </div> -->
        <p-mess  (yanN)="saveData($event)" [telN]=tel  id="aa"></p-mess>
        <div class="comBtnM mgT45">
          <button  ion-button  class="comBtn" (throttleClick)="next()" >下一步</button>
          </div>
       

      </ion-content>
