page-guide {
  button.in{
      position: absolute;
      bottom: 70px;
      left: 50%;
      margin-left: -8.4rem;
      font-size: 2.13rem;
      color: #ffffff;
      width: 16.8rem;
	height: 4.3rem;
	border-radius: 0.5rem;
    border: solid 0.15rem #ffffff;
    background-color: #38bdef
  }
}
