<!--
  Generated template for the ParkDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>车场详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <section>
  <!-- <div class="flexChild flex-row justifyBetween pd15 comDiv">
      
    <div class="flex-column">
      <h2>{{pageData.ParkName}}</h2>
      <p>{{pageData.PayAbout}}·{{pageData.ParkAbout}}</p>
      <p>剩余车位：{{pageData.ParkFreeSpaceNumber}}/个&nbsp;价格：{{pageData.PriceAboutS}}元/小时</p>
  </div>
  <div class="center flex-column ">
    <div class="goIcon"></div>
    <div>{{pageData.disText}}</div>
  </div>
  </div> -->
  <ion-item class='item-eb' >
         
    <ion-thumbnail item-end (throttleClick)='goMapApp()'class="center">
      <div class="center flex-column">
      <div class="goIcon"></div>
      <div>{{pageData.disText}}</div>
    </div>
    </ion-thumbnail>
     
      <h2>{{pageData.ParkName}} <span *ngIf="pageData.IsOpen==0" class="colorRed fontS12">(暂未开放)</span></h2>
    <p>{{pageData.PayAbout}}·{{pageData.ParkAbout}}</p>
    <p>剩余车位：{{pageData.ParkFreeSpaceNumber}}/个</p>
  
  </ion-item>
</section>
<section class="mgT5 mgB35">
<div class="pdrow15 comDiv h48 alighC" [navPush]='nearPage'><ion-icon name=""></ion-icon>{{pageData.ParkName}}</div>
<div> <img src="{{baseImgUrl+pageData.Picture}}" alt=""></div>

<!-- <div class="comDiv">
  <div id="container" #container></div>
</div> -->
<div class="flexChild flex-column  comDiv">
  <div class="fontS11 fontC6 shouTit">  <div>收费标准</div>
  <div>线上缴费：首小时{{pageData.PriceFT}}元/小时,之后{{pageData.Price}}元/{{pageData.TimeSlice}}分钟</div></div>
  <!-- <div class="fontS10 fontC6 shoucont ">
    <div>小型车</div>
    <div>{{pageData.PriceAboutS}}元/小时</div>
  </div>
  <div class="fontS10 fontC6 shoucontB">
    <div>大型车</div>
    <div>{{pageData.PriceAboutB}}元/小时</div>
  </div> -->
</div> 
<div class="flexChild flex-row justifyAround comDiv sumD" >
  <div>
    <div>营业时长</div>
    <div>{{pageData.ChargableTime}}</div>
  </div>
  <div>
    <div>总车位数</div>
    <div>{{pageData.ParkSpaceNumber}}个</div>
  </div>
  <div>
    <div>空余车位</div>
    <div>{{pageData.ParkFreeSpaceNumber}}个</div>
  </div>
  <div>
    <div>免费时长</div>
    <div>{{pageData.FreeTime}}分钟</div>
  </div>
</div>
</section>
<footer class='footer twoBtn fontC15'>
  <div (throttleClick)='goChose(pageData.id)'  *ngIf='pageData.IfRecord&&pageData.IfRecord==1'> <ion-icon name="ios-time-outline"></ion-icon>&nbsp;预约</div>
  <div class="shu"  *ngIf='pageData.IfRecord&&pageData.IfRecord==1'></div>
  <div (throttleClick)='goMapApp()'><ion-icon name="ios-navigate-outline"></ion-icon>&nbsp; 导航</div>
</footer>
</ion-content>
