page-help-detail {
    .main{
        background-color: #fff;
        padding: 15px 10px;
    }
 .tit{
     font-size: 15px;
     
 }
 .con{
     font-size: 13px;
     color: #777;
     margin-top: 10px;
     line-height: 20px;
 }
}
